extends ../layout

block content
    h2 Edicion de la Empresa #{empresa.id}
    form(action="/empresas/edit", method="POST").mb-5
        .form-group
            label(for="nombre") Nombre
            input.form-control(type="text", name="nombre", value=empresa.nombre)
        .form-group
            label(for="correo") Email
            input.form-control(type="text", name="correo", value=empresa.correo)
        .form-group
            label(for="telefono") Telefono
            input.form-control(type="text", name="telefono", value=empresa.telefono)
        .form-group
            label(for="disciplinas_patrocinio") Disciplinas
            input.form-control(type="text", name="disciplinas_patrocinio", value=empresa.disciplinas_patrocinio)
        .form-group
            label(for="ubicacion") Ubicacion
            input.form-control(type="text", name="ubicacion", value=empresa.ubicacion)
        input(type="hidden", name="id", value=empresa.id)
        input(type="submit", value="Enviar").btn.btn-block.btn-primary
        