extends ../layout

block content
    h2 Edicion del Atleta #{atleta.id}
    form(action="/atletas/edit", method="POST").mb-5
        .form-group
            label(for="nombre") Nombre
            input.form-control(type="text", name="nombre", value=atleta.nombre)
        .form-group
            label(for="apellidos") Apellidos
            input.form-control(type="text", name="apellidos", value=atleta.apellidos)
        .form-group
            label(for="correo") Email
            input.form-control(type="text", name="correo", value=atleta.correo)
        .form-group
            label(for="edad") Edad
            input.form-control(type="text", name="edad", value=atleta.edad)
        .form-group
            label(for="disciplina") Disciplina
            input.form-control(type="text", name="disciplina", value=atleta.disciplina)
        .form-group
            label(for="ubicacion") Ubicacion
            input.form-control(type="text", name="ubicacion", value=atleta.ubicacion)
        .form-group
            label(for="sexo") Sexo
            select.form-control(type="select", name="sexo", value=atleta.sexo)
                option(value="m") M
                option(value="f") F
        input(type="hidden", name="id", value=atleta.id)
        input(type="submit", value="Enviar").btn.btn-block.btn-primary